# Environment variables template
# Copy this file to .env and update values as needed

# Infrastructure
TTS_ENV_TYPE=development
TTS_URI=tcp://127.0.0.1:10200
TTS_ZEROCONF=silero

# PyTorch computing engine
TTS_TORCH_DEVICE=cpu
TTS_TORCH_NUM_THREADS=4
TTS_TORCH_NUM_INTEROP_THREADS=1
TTS_TORCH_FLUSH_DENORMAL=true

# TTS Configuration
TTS_SAMPLE_RATE=48000
TTS_MAX_MODELS=2
TTS_MAX_CONCURRENT_PER_MODEL=2
TTS_MAX_CHUNK_CHARS=140
TTS_MODELS_CONFIG_PATH=data/models.yml
TTS_MODELS_DIR=models/silero
TTS_MODELS_YML_URL=https://raw.githubusercontent.com/snakers4/silero-models/refs/heads/master/models.yml
TTS_MODELS_YML_HASH=